* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    display: block;
    width: 100%;
}

.top-infocard {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-infocard-text {
    margin-bottom: 65px;
    max-width: 766px;
    line-height: 24px;
} 

.top-infocard-subtitle {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}

.top-infocard-title {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
}

.top-infocard-description {
    line-height: 24px;
    font-size: 16px;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
}

.top-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 288px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-infocard-image {
    display: block;
    margin-bottom: 125px;
}

.top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.middle-banners {
    background: #e0e0e0;
}

.middle-banners-container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 32px;
    justify-content: center;
    position: relative;
    top: 60px;
}

.middle-banner {
    display: block;
    width: 100%;
    max-width: 400px;
}

.bottom-cards {
    margin-top: 280px;
}

.bottom-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 16px;
    position: relative;
    top: 20px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 32px 66px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image {
    display: block;
    margin-bottom: 30px;
}

.bottom-card-description {
    max-width: 367px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.bottom-infocard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 138px 0 32px;
}

.bottom-infocard-text h2 {
    font-size: 32px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}

.bottom-infocard-text p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 550px;
    height: 158px;
    margin: 18px 0 32px;
}

.bottom-infocard-image {
    display: block;
    margin-bottom: 104px;
}

.bottom-infocard-image-mobile {
    display: none;
}

@media only screen and (max-width: 414px) {
    .main-banner-desktop {
        display: none;
    }

    .top-card-image {
        margin-left: 0;
        margin-right: -5;
    } 

    .top-infocard-text {
        text-align: center;
    }

    .top-infocard {
        margin-top: 6px;
    }

    .top-infocard-image {
        margin-bottom: -80px;
    }

    .middle-banners-container {
       grid-template-columns: repeat(2, 1fr);
       row-gap: 24px;
       column-gap: 14px;
       top: 32px;
       max-width: 90%;
       margin: 0 auto;
    }

    .middle-banner {
        max-width: 100%;
    }

    .last-banner {
        grid-column: 1 / 3;
    }

    .bottom-cards {
    

    }

    .bottom-infocard-image {
        display: none;
        margin-top: -50px;
    }

    .bottom-infocard-image-mobile {
        display: block;
    }
    
    .bottom-infocard-text h2 {
        font-size: 24px;
        line-height: 20px;
        margin-top: 50px;
    }
    
    .bottom-infocard-text p {
        font-size: 16px;
        line-height: 24px;
        height: 192px;
        margin: 18px 0 32px;
    }

    .bottom-card-description {
        font-size: 14px;
    }

    .bottom-infocard-text p {
        max-width: 350px;
        height: 158px;
        margin: 18px 0 32px;
    }

    .footer-text {
        max-width: 275px;
        text-align: center;
    }
    
}

@media screen and (min-width: 415px) {
    .main-banner-mobile,
    .middle-banner-mobile-01,
    .middle-banner-mobile-02,
    .middle-banner-mobile-03 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
        justify-items: center;
    }

    .bottom-cards {
        margin-top: 114px;
        padding: 0 24px;
    }

    .bottom-cards-wrapper {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

@media screen and (max-width: 992px) {
    .top-infocard {
        flex-direction: column;
        padding: 84px 26px 158px;
    }

    .top-infocard-text {
        margin: 0 0 68px;
    }

    .top-infocard-subtitle {
        font-size: 20px;
    }

    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-image {
        width: 100%;
        max-width: 240px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    .top-cards {
        grid-template-columns: repeat(2, max-content);
        padding: 36px 26px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .bottom-card-description {
        max-width: 432px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .top-infocard-text {
        max-width: 520px;
        margin-right: 70px;
    }

    .bottom-infocard-image {
        max-width: 480px;
    }

    .bottom-infocard-text {
        max-width: 400px;
    }
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: #000000;
    margin-top: 104px;
}

.footer-icons {
    display: flex;
    list-style: none;
}

.footer-icon {
    margin: 0 8px;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}